{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div>
            <h4>Input JSON:</h4>
            <textarea id="txtJson" rows="10" style="width:100%; max-width: 100%"></textarea>
        </div>
        <div>
            <button id="btnParse" type="button" class="btn btn-primary">Parse</button>
        </div>
        <div id="parsedData">

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    $("#btnParse").on("click", function () {
        var jsonStr = $("#txtJson").val();
        try{
            html = parseJsonString(JSON.parse(jsonStr));
        }
        catch(e) {
            console.log(e);
            html = "Oops! something is wrong... Check you json?"
        }
        $("#parsedData").html(html);
    })

    function parseJsonString(jsonObj, headerWeight=1) {
        if (!$.isPlainObject(jsonObj))
            return jsonObj;

        var html = "";
        for (var val in jsonObj) {
            html += "<h" + headerWeight + ">" + val + "</h" + headerWeight + ">"
            html += "<p>" + parseJsonString(jsonObj[val], headerWeight + 1) + "</p>";
        }
        return html;
    }
</script>
{% endblock %}
